<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LibreriaClub.Properties.Settings.Key" connectionString="Data Source=SEBIPC\MSSQLSERVER01;Initial Catalog=DBClub;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>